html,
body {
  width: 100%;
}
body {
  margin: 0;
  background: #199475;
}
div,
ul {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
#choose {
  width: 700px;
  height: 300px;
  outline: 3px solid #c7ceb2;
  color: #c7ceb2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}
#wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
#wrap li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  animation: pulse 2s infinite;
}
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
