body {
    margin: 0;
}

div, li, ul {
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

ul {
    width: 3000px;
    height: 375px;
    margin: 0;
    padding-left: 0;
}

li {
    width: 200px;
    list-style-type: none;
    float: left;
}

li:first-of-type {
    width: 600px;
}

.img-top {
    width: 600px;
}

.wrap {
    width: 1400px;
    height: 375px;
    margin: 100px auto;
    overflow: hidden;
}