body {
    margin: 0;
}

div, li, ul {
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}
ul {
    width: 3000px;
    margin: 0;
    padding-left: 0;
}

li {
    width: 200px;
    list-style-type: none;
    float: left;
}
.img-top {
    width: 600px;
}
.wrap {
    width: 1400px;
    margin: 100px auto;
}