html,
body {
  height: 100%;
}
body {
  margin: 0;
}
div,
ul {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
button {
  padding: 0;
  margin: 0;
  font-size: 100%;
  outline: none;
  border: none;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.content {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}
